.cardContent {
  background: var(--gray-700);
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  max-width: 160px;
}

.cardTitle {
  color: var(--gray-300);
  font-size: 0.9rem;
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;

  img {
    border-radius: 50%;
  }
}

.usernameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
