.cardContent {
  background: var(--gray-700);
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  max-width: 160px;

  @media (max-width: 768px) {
    max-width: none;
    width: 200px;
    height: 150px;
  }

  @media (max-width: 640px) {
    max-width: none;
    width: 350px;
    height: 250px;
  }
}

.cardTitle {
  color: var(--gray-300);
  font-size: 0.9rem;

  @media (max-width: 768px) {
    font-size: 1rem;
  }

  @media (max-width: 640px) {
    font-size: 1.5rem;
  }
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;

  img {
    border-radius: 50%;
    height: 70px;

    @media (max-width: 768px) {
      height: 70px;
    }

    @media (max-width: 640px) {
      height: 150px;
    }
  }
}

.usernameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
