.headerContainer {
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);
  user-select: none;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1120px;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  nav {
    margin-left: 5rem;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1rem;
    color: var(--gray-300);

    a {
      cursor: pointer;
      position: relative;
      padding: 0 0.5rem;
      height: 100%;
      line-height: 5rem;

      &:not(:first-child) {
        margin-left: 2rem;
      }

      transition: filter 0.3s;
      &:hover {
        filter: brightness(2);
        font-weight: 500;
        background: var(--gray-900);
      }

      &.active {
        color: var(--white);
        font-weight: 700;

        &:hover {
          filter: brightness(0.7);
          cursor: auto;
        }
      }

      &.active::after {
        content: "";
        height: 0.25rem;
        border-radius: 0.1rem 0.1rem 0 0;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: var(--yellow-100);
      }
    }
  }

  /*
    Feito para colocar o botão para a direita totalmente. Não se usa no componente do botão pois 
   caso queira usar o botão em outro lugar, ele não estará com margin-left
  */
  > button {
    margin-left: auto;
  }
}
